<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Items</title>
</head>
<body>
    <form action="" method="POST">
        <input type="hidden" name="item" value="apple">
        <input type="submit" value="Add Apple">
    </form>
    <form action="" method="POST">
        <input type="hidden" name="item" value="banana">
        <input type="submit" value="Add Banana">
    </form>
    <form action="" method="POST">
        <input type="hidden" name="item" value="orange">
        <input type="submit" value="Add Orange">
    </form>
</body>
</html>